/* style.css */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

#year-container {
  text-align: center;
  margin-top: 20px;
}

#year {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
}

.year-buttons {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border: none;
  background-color: #f2f2f2;
}
