body {
  height: 100vh;
  overflow: hidden;
  background: rgb(8, 1, 51);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  overflow: hidden; /* Ensures rounded corners are applied */
  font-family: 'Mountains of Christmas', cursive, sans-serif;
  font-size: 2rem;
}

td {
  text-align: center;
  padding: 10px;
  background-color: darkred;
  color: white;
  font-weight: bold;
}

.name {
  text-align: right;
}

.arrow {
  padding: 0 5px;
}

.assigned {
  text-align: left;
}

tr:hover {
  background-color: crimson;
  cursor: pointer;
}

tr:hover td {
  background-color: transparent; /* Set individual cell background to transparent during row hover */
}

.block {
  position: relative;
  top: 50px;
  margin: 280px auto 0;
  width: 280px;
  background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.block:after {
  filter: blur(50px);
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}